<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AP</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/image_album.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
    <!-- <link rel="stylesheet" href="css/style.css"> -->

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/view_images">Photo Assistant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>

            <li class="nav-item">
              <a class="nav-link" href="/upload_image">Upload 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view_images">Photo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view_albums">Album</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/show_duplicated_images">Assistant</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        {% for class_id in list_class %}
        <div class="gallery">
            <a  href="/view_images_of_album/{{class_id.classid}}">
                <img src="{{class_id.url}}" alt="{{class_id.classname}}" width="300" height="200">
            </a>
            <div class="desc">{{class_id.classname}}</div>
        </div>
        {% endfor %}
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
