<link rel="stylesheet" href="/static/sign_in_up.css" type="text/css">
{% block body %}
{% if session['user_id'] %}
<p>You're logged in already!</p>
{% else %}

 
 
<form action="/signup" method="POST">
	<div class="login">
		<div class="login-screen">

			<div class="app-title">
				<h1>Sign Up</h1>
			</div>
 
			<div class="login-form">
				<div class="control-group">
    				<input type="email" class="login-field" value="" placeholder="email" name="email" required>
				</div>

                <div class="control-group">
    				<input type="text" class="login-field" value="" placeholder="username" name="username" required>
				</div>
 
				<div class="control-group">
	    			<input type="password" class="login-field" value="" placeholder="password" name="password" required>
				</div>

                <div class="control-group">
                    {% if status %}
                        <p class="message"> Password does not match !</p>
                    {% endif %}
	    			<input type="password" class="login-field" value="" placeholder="confirm password" name="confirmpassword" required>
				</div>
 
                <input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
 
{% endif %}
{% endblock %}