<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AP</title>


    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/thumbnail_gallery.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/view_images">Photo Assistant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                </form>

                <li class="nav-item">
                    <a class="nav-link" href="/upload_image">Upload
                        <!-- <span class="sr-only">(current)</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_images">Photo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_albums">Album</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/show_duplicated_images">Assistant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">


    <div class="row text-center text-lg-left">
        <a style="text-decoration-line: none; margin-bottom: 15px; margin-top: 5px"><input
                id="delete_btn" type="button" value="Delete" class="btn btn-primary btn-large btn-block"></a>
        {% for group in groups %}

            {% if groups[group]|length > 1 %}
                <section>
                    {% for img in groups[group] %}
                        <div class="div-img"
                             style="width:{{ img.width*200/img.height }}px;flex-grow:{{ img.width*200/img.height }}">

                            <label class="image-checkbox temp" style="padding-bottom:{{ img.height/img.width*100 }}%">
                                <img src="{{ img.url }}" alt="">
                                <input type="checkbox" name="image[]" value="{{ img.id }}"/>
                                <i class="fa fa-check hidden"></i>
                            </label>
                        </div>
                    {% endfor %}
                </section>
            {% endif %}
        {% endfor %}

    </div>
</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->
<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
{#<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>#}
<script>
    $(".image-checkbox").each(function () {
        if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
            $(this).addClass('image-checkbox');
        }
        else {
            $(this).removeClass('image-checkbox');
        }
    });

    // sync the state to the input
    $(".temp").on("click", function (e) {
        $(this).toggleClass('image-checkbox');
        var $checkbox = $(this).find('input[type="checkbox"]');
        $checkbox.prop("checked", !$checkbox.prop("checked"))

        e.preventDefault();
    });

    $("#delete_btn").on("click", function () {
        var deleted_ids = [];
        $(".image-checkbox").each(function () {
            var id = $(this).find('input[type="checkbox"]').val();
            {#alert(id.toString());#}
            deleted_ids.push(id);

        });
        {#alert(deleted_ids);#}
        $.ajax({
            type: "POST",
            url: "/delete_images",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({data: deleted_ids}),
            success: function (data) {
                if (data.success == undefined) { // if true (1)
                    setTimeout(function () {// wait for 5 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, -1000);
                }
            }
        });
    })
    ;

</script>


</body>

</html>