<!DOCTYPE html>
<html lang="en">

  <head>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AP</title>


    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom styles for this template -->
    <link href="/static/thumbnail_gallery.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

  </head>

  <body>

   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/view_images">Photo Assistant</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                    </form>
    
                    <li class="nav-item">
                        <a class="nav-link" href="/upload_image">Upload
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/view_images">Photo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Album</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/show_duplicated_images">Assistant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Page Content -->
    <div class="container">


      <div class="row text-center text-lg-left">

    {% for group in groups %}
      <section>
        
        {% for img in groups[group] %}
        <div class="div-img" style="width:{{img.width*200/img.height}}px;flex-grow:{{img.width*200/img.height}}">
          <i style="padding-bottom:{{img.height/img.width*100}}%"></i>
          <img src="{{img.url}}" alt="">
        </div>
        {% endfor %}
        
     </section>
     {% endfor %}

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>